ion-slides {
  flex-direction: column;
}

ion-img {
  max-width: 50vw;
  max-height: 10vh;
  overflow: hidden;
}
h2 {
  color: #488aff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}